@import './../../global';

.HeaderHolder{
    background-color: $background;
    position: sticky;
    top: 0;
    height: $header-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid RGB(0, 0, 0, 0.5);
    z-index: 100;
    .HeaderLogo{
        scale: 0.8;
        fill: $white;
    }
}